.three {
  position: relative;
  background: color(bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.canvas {
  @include w-h(375px, 475px);
  // position: absolute !important;
  left: 0;
  bottom: 0;
  // @include respond-to(tablet) {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }

  @include respond-to(mobile){
    @include w-h(250px, 310px);
  }
}
