@font-face {
  font-family: "Northdenrrough";
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/northdenrough.ttf");
}
@font-face {
  font-family: "Northden";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/northden.ttf");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/Oswald.ttf");
}

@font-face {
  font-family: "Oswald-lighter";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/Oswald.ttf");
}

@font-face {
  font-family: "Oswald-strong";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Oswald.ttf");
}
